SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=8080

DB_URL=jdbc:postgresql://localhost:5432/hospital_management
DB_USERNAME=hospital_app
DB_PASSWORD=StrongPass@123

CORS_ALLOWED_ORIGINS=https://your-frontend-domain.com
